<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <div *ngIf="!auth.isAuthenticated()" _ngcontent-c3 routerLinkActive="active">
                <a class="navbar-brand" href="#">CARPND</a>
            </div>
            <div *ngIf="auth.isAuthenticated()" _ngcontent-c3 routerLinkActive="active">
                <a class="navbar-brand" href="#">CARPND - {{"ProfileText" | translate}} {{profile?.given_name}}</a>
            </div>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarLog">
            <div *ngIf="!auth.isAuthenticated()" _ngcontent-c3 routerLinkActive="active">
                <a _ngcontent-c3="" class="btn btn-outline-neutral btn-round navbar-btn" (click)="auth.login()">{{"Login" | translate}}</a>
            </div>
            <div *ngIf="auth.isAuthenticated()" _ngcontent-c3 routerLinkActive="active">
                <a _ngcontent-c3="" class="btn btn-neutral btn-round navbar-link.btn" href="user-profile"><i class="nc-icon nc-single-02"></i> {{"Profile" | translate}}</a>
                <a _ngcontent-c3="" class="btn btn-neutral btn-round navbar-link.btn" (click)="auth.logout()"><i class="nc-icon nc-button-power"></i> {{"LogOut" | translate}}</a>
            </div>
        </div>
        <div *ngIf="!auth.isAuthenticated()" class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom">
                        <i class="fa fa-twitter"></i>
                        <p class="d-lg-none">Twitter</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom">
                        <i class="fa fa-facebook-square"></i>
                        <p class="d-lg-none">Facebook</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom">
                        <i class="fa fa-instagram"></i>
                        <p class="d-lg-none">Instagram</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isHome()">
                    <a [routerLink]="['/home']" *ngIf="!isDocumentation()" class="nav-link"><i class="nc-icon nc-layout-11"></i>Components</a>
                    <a [routerLink]="['/home']" *ngIf="isDocumentation()" class="nav-link">Back to Kit</a>
                </li>
            </ul>
        </div>
        <div *ngIf="auth.isAuthenticated()" class="collapse navbar-collapse">
            <div class="col-md-10">
                <div class="input-group">
                    <a class="btn btn-neutral btn-round navbar-link.btn" href="search"> <i class="nc-icon nc-zoom-split"></i> {{"Search" | translate}}</a>
                </div>
            </div>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default btn-round" (click)="switchLanguage('es')">ES</button>
            <button type="button" class="btn btn-default btn-round" (click)="switchLanguage('en')">EN</button>
        </div>
    </div>
</nav>
