<div class="wrapper" xmlns="" xmlns="">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('../assets/img/background.jpg');">
    <div class="filter"></div>
  </div>
<div class="main">
    <div class="section">
      <div class="container">
        <button type="submit" class="label label-neutral" routerLinkActive="active">
          <a [routerLink]="['/user-profile']" >{{"PublicationTab.returnButton" | translate}}</a>
        </button>
        <button type="submit" class="label label-neutral" routerLinkActive="active" style="float:right">
          <a [routerLink]="['/search']" >{{"PublicationTab.returnSearchButton" | translate}}</a>
        </button>
        <div class="row title-row">
          <div class="col-md-2">
            <h4 class="shop">{{vehicleSelected?.type}}</h4>
          </div>
        </div>
        <hr>
        <div class="form-row">
          <div class="form-group col-md-6 col-sm-6">
                <img src="{{vehicleSelected?.imageUrl}}" width="500px">
          </div>
          <div class="form-group col-md-6 col-sm-6">
            <h2>{{vehicleSelected?.brandModel}}</h2>
            <h4 class="price"><strong>{{'PublicationTab.rentFeeH' | translate}}: ${{publication?.rentFeeHour}}</strong></h4>
            <h4 class="price"><strong>{{'PublicationTab.rentFeeD' | translate}}: ${{publication?.rentFeeDay}}</strong></h4>
            <hr>
            <p>{{vehicleSelected?.description}}</p>
            <hr>
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <label>{{'PublicationTab.datesLabel' | translate}}</label>
                <div>
                  <h5> {{'PublicationTab.datesLabelFrom' | translate}}: {{publication?.startDayOfMonth}}/{{publication?.startMonth}}/{{publication?.startYear}} </h5>
                  <h5> {{'PublicationTab.datesLabelTo' | translate}}: {{publication?.endDayOfMonth}}/{{publication?.endMonth}}/{{publication?.endYear}} </h5>
                </div>
              </div>
            </div>
            <hr>
            <div>
              <label>{{'PublicationTab.zoneLabel' | translate}}: {{vehicleSelected?.zone}}</label>
            </div>
            <hr>
            <div class="row">
              <div *ngIf="!isOwner" class="col-md-7 offset-md-5 col-sm-8">
                <div *ngIf="!offerIsAccepted && !vehicleRetired">
                  <button class="btn btn-danger btn-block btn-round" data-toggle="collapse" data-target="#datePick  ">{{'PublicationTab.reserveButton' | translate}} &nbsp;<i class="fa fa-chevron-right"></i></button>    
                </div>
                <div *ngIf="offerIsAccepted">
                    <button (click)="retireVehicle()" class="btn btn-success btn-block btn-round">{{'PublicationTab.retireButton' | translate}} &nbsp;<i class="fa fa-chevron-right"></i></button>    
                </div>
                <div *ngIf="vehicleRetired">
                    <button data-toggle="collapse" data-target="#ratingOwner" class="btn btn-default btn-block btn-round">{{'PublicationTab.returnVehicleButton' | translate}}</button>
                </div>
              </div>
            </div>
          </div>
          <div id="datePick" class="collapse">
            <div class="form-row">
              <div class="form-group col-md-8">
                <label for="availabilityFrom">{{"PublicationForm.availabilityFrom" | translate}}</label>
                <input id="availabilityFrom" [(ngModel)]="dateFrom" type="date" name="daterange" ><i class="fa fa-calendar" aria-hidden="true"></i>
              </div>
              <div class="form-group col-md-8">
                <label for="availabilityTo">{{"PublicationForm.availabilityTo" | translate}}</label>
                <input id="availabilityTo" [(ngModel)]="dateTo" type="date" name="daterange" /><i class="fa fa-calendar" aria-hidden="true"></i>
              </div>
            </div>
            <div class="form-row">
              <div style="margin: auto">
                <button data-toggle="collapse" (click)="sendReservation()" data-target="#datePick" class="btn btn-success btn-round">{{"PublicationTab.sendReserve" | translate}}</button>
              </div>
            </div>
          </div>
          <div id="ratingOwner" class="collapse">
            Rate your counterpart: <rating [(ngModel)]="ratingOwner" [float]="true"></rating><br>
            <button (click)="returnVehicle()" class="btn btn-default btn-block btn-round" data-toggle="collapse" data-target="#ratingOwner">{{'PublicationTab.returnVehicleButton' | translate}} &nbsp;<i class="fa fa-chevron-right"></i></button>
          </div>
        </div>
      </div>
    </div>
  <div *ngIf="isOwner">
    <div class="nav-tabs-navigation">
      <div class="nav-tabs-wrapper">
        <ngb-tabset [justify]="'center'">
          <ngb-tab title="{{'PublicationTab.offer' | translate}}" id="offers">
            <ng-template ngbTabContent>
              <div class="row following">
                <div class="col-md-6 ml-auto mr-auto">
                  <ul class="list-unstyled follows" *ngIf="myOffers.length">
                    <li *ngFor="let o of myOffers">
                      <div class="row">
                        <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                          <i class="nc-icon nc-circle-10"></i>
                        </div>
                        <div class="col-md-7 col-sm-4 ml-auto">
                          {{"PublicationTab.tabMsgUser" | translate}}{{o.userEmail}}{{"PublicationTab.tabMsgReserve" | translate}}.
                        </div>
                        <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                          <div class="form-check">
                            <label class="form-check-label">
                              <button type="button" id="accept" (click)="acceptReservation(o)" class="label label-success">{{"PublicationTab.acceptButton" | translate}}</button>
                              <button type="button" id="decline" (click)="declineReservation(o)" class="label label-danger">{{"PublicationTab.declineButton" | translate}}</button>
                            </label>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="{{'PublicationTab.retires' | translate}}" id="retires">
            <ng-template ngbTabContent>
              <div class="row following">
                <div class="col-md-6 ml-auto mr-auto">
                  <ul class="list-unstyled follows" *ngIf="myRetires.length">
                    <li *ngFor="let r of myRetires">
                      <div class="row">
                        <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                          <i class="nc-icon nc-circle-10"></i>
                        </div>
                        <div class="col-md-7 col-sm-4 ml-auto">
                          {{"PublicationTab.tabMsgUser" | translate}}{{r.userEmail}}{{"PublicationTab.tabMsgRetire" | translate}}.
                        </div>
                        <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                          <div class="form-check">
                            <label class="form-check-label">
                              <button type="button" id="acceptRetire" (click)="acceptRetire(r)" class="label label-success">{{"PublicationTab.acceptButton" | translate}}</button>
                              <button type="button" id="declineRetire" (click)="declineRetire(r)" class="label label-danger">{{"PublicationTab.declineButton" | translate}}</button>
                            </label>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="{{'PublicationTab.returns' | translate}}" id="returns">
            <ng-template ngbTabContent>
              <div class="row following">
                <div class="col-md-6 ml-auto mr-auto">
                  <ul class="list-unstyled follows" *ngIf="myReturns.length">
                    <li *ngFor="let r of myReturns">
                      <div class="row">
                        <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                          <i class="nc-icon nc-circle-10"></i>
                        </div>
                        <div class="col-md-7 col-sm-4 ml-auto">
                          {{"PublicationTab.tabMsgUser" | translate}}{{r.userEmail}}{{"PublicationTab.tabMsgReturn" | translate}}.
                        </div>
                        <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                          <div class="form-check">
                            <label class="form-check-label">
                                <button type="button" class="label label-success" data-toggle="collapse" data-target="#ratingClient">{{"PublicationTab.acceptButton" | translate}}</button>
                                <button type="button" id="declineReturn" (click)="declineReturn(r)" class="label label-danger">{{"PublicationTab.declineButton" | translate}}</button>
                            </label>
                          </div>
                        </div>
                        <div id="ratingClient" class="collapse">
                          Rate your counterpart: <rating [(ngModel)]="ratingClient" [float]="true"></rating><br>
                          <button type="button" id="acceptReturn" (click)="acceptReturn(r)" class="label label-success" data-toggle="#ratingClient">{{"PublicationTab.acceptButton" | translate}}</button>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="{{'PublicationTab.accepted' | translate}}" id="accepted">
            <ng-template ngbTabContent>
              <div class="row following">
                <div class="col-md-6 ml-auto mr-auto">
                  <ul class="list-unstyled follows" *ngIf="myAcceptedOffers.length">
                    <li *ngFor="let r of myAcceptedOffers">
                      <div class="row">
                        <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                          <i class="nc-icon nc-circle-10"></i>
                        </div>
                        <div class="col-md-7 col-sm-4 ml-auto">
                          {{"PublicationTab.tabMsgUser" | translate}}{{r.userEmail}}{{"PublicationTab.tabMsgAccepted1" | translate}}{{r.startDayOfMonth}}/{{r.startMonth}}/{{r.startYear}}{{"PublicationTab.tabMsgAccepted2" | translate}}{{r.endDayOfMonth}}/{{r.endMonth}}/{{r.endYear}}
                        </div>
                        <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                          <div class="form-check">
                            {{r.retireState}}
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
    <div class="section">
      <div class="container">
        <div class="row card-body-row">
          <div class="col-md-4 col-sm-4">
            <div class="info">
              <div class="icon icon-warning">
                <i class="nc-icon nc-cart-simple  "></i>
              </div>
              <div class="description">
                <h4 class="info-title"> {{'PublicationTab.informationTitle1' | translate}} </h4>
                <p>{{'PublicationTab.informationBody1' | translate}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="info">
              <div class="icon icon-success">
                <i class="nc-icon nc-check-2"></i>
              </div>
              <div class="description">
                <h4 class="info-title"> {{'PublicationTab.informationTitle2' | translate}} </h4>
                <p>{{'PublicationTab.informationBody2' | translate}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="info">
              <div class="icon icon-simple">
                <i class="nc-icon nc-satisfied"></i>
              </div>
              <div class="description">
                <h4 class="info-title"> {{'PublicationTab.informationTitle3' | translate}} </h4>
                <p>{{'PublicationTab.informationBody3' | translate}}</p>
              </div>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>
    <div class="section section-dark">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h4>{{"PublicationTab.other" | translate}}</h4>
            <br>
          </div>
          <!--<div class="col-md-4 col-sm-4">
            <div class="card card-product card-plain">
              <div class="card-image">
                <a href="https://demos.creative-tim.com/paper-kit-2-pro/examples/product-page.html#paper-kit">
                  <img src="./Paper Kit Pro by Creative Tim_files/balmain-1.jpg" alt="Rounded Image" class="img-rounded img-responsive">
                </a>
                <div class="card-body">
                  <div class="card-description">
                    <h5 class="card-title">Double Breasted Mini Dress</h5>
                    <p class="card-description">Dresses &amp; Skirts</p>
                  </div>
                  <div class="actions">
                    <h5>1.300 €</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="card card-product card-plain">
              <div class="card-image">
                <a href="https://demos.creative-tim.com/paper-kit-2-pro/examples/product-page.html#paper-kit">
                  <img src="./Paper Kit Pro by Creative Tim_files/balmain-2.jpg" alt="Rounded Image" class="img-rounded img-responsive">
                </a>
                <div class="card-body">
                  <div class="card-description">
                    <h5 class="card-title">Chrystal Dress</h5>
                    <p class="card-description">Dresses &amp; Skirts</p>
                  </div>
                  <div class="actions">
                    <h5>1.500 €</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="card card-product card-plain">
              <div class="card-image">
                <a href="https://demos.creative-tim.com/paper-kit-2-pro/examples/product-page.html#paper-kit">
                  <img src="./Paper Kit Pro by Creative Tim_files/balmain-3.jpg" alt="Rounded Image" class="img-rounded img-responsive">
                </a>
                <div class="card-body">
                  <div class="card-description">
                    <h5 class="card-title">Chrystal Skirt</h5>
                    <p class="card-description">Only on demand</p>
                  </div>
                  <div class="actions">
                    <h5>1.200 €</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>-->
        </div>
      </div>
    </div>
  </div>
</div>