<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('../assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="{{profile?.picture}}" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">{{profile?.name}}<br /></h4>
                </div>
            </div>
            <br/>
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ngb-tabset [justify]="'center'" [activeId]="activeIdString">
                        <ngb-tab title="{{'ProfilePage.MyVehicles' | translate}}" id="myVehiclesTab">
                            <ng-template ngbTabContent >
                                    <div class="row following" id="follows">
                                            <div class="col-md-6 ml-auto mr-auto">
                                                    <ul class="list-unstyled follows" *ngIf="myVehicles$.length">
                                                        <li *ngFor="let vehicle of myVehicles$">
                                                            <div class="row">
                                                                <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                                    <img src="{{vehicle.imageUrl}}" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                                </div>
                                                                <div class="col-md-7 col-sm-4 ml-auto">
                                                                    <h6>{{vehicle.type}}<br/><small>{{vehicle.description}}</small></h6>
                                                                </div>
                                                                <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                                                    <div class="form-check">
                                                                      <label class="form-check-label">
                                                                        <button type="submit" class="label label-default"
                                                                        (click)="this.modifyVehicle(vehicle)">modificar</button>
                                                                        <button type="submit" class="label label-danger"
                                                                        (click)="this.deleteById(vehicle.vehicleId)">borrar</button>
                                                                      </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <hr />
                                                    </ul>
                                                </div>
                                    </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="{{'ProfilePage.LoadVehicle' | translate}}" id="createVehicleTab">
                            <ng-template ngbTabContent >
                                <div style="width: 50%;padding-top: 50px;margin:auto">
                                    <form name="vehicleForm">
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="vehicleType">{{"VehicleForm.type" | translate}}</label>
                                                <select name="vehicleTypeSelect" class="form-control" id="vehicleType" 
                                                [(ngModel)]="vehicle.type">
                                                    <option *ngFor="let vt of vehicleTypes" [value]="vt">{{vt}}</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="capacity">{{"VehicleForm.capacity" | translate}}</label>
                                                <select name="vehicleCapacitySelect" class="form-control" id="capacity"
                                                [(ngModel)]="vehicle.passengerCapacity">
                                                    <option *ngFor="let c of vehicleCapacities" [value]="c">{{c}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="imageUrl">{{"VehicleForm.image" | translate}}</label>
                                            <input name="imageUrl" [(ngModel)]="vehicle.imageUrl" type="text" class="form-control" id="imageUrl">
                                        </div>
                                        <div class="form-group">
                                            <label for="zone">{{"VehicleForm.zone" | translate}}</label>
                                            <input name="zonaInput" [(ngModel)]="vehicle.zone" type="text" class="form-control" id="zone" placeholder="Microcentro">
                                        </div>
                                        <div class="form-group">
                                            <label for="withdrawAddress">{{"VehicleForm.withdrawAdd" | translate}} (modificar con maps?)</label>
                                            <input name="withdrawAddress" [(ngModel)]="vehicle.withdrawAddress" type="text" class="form-control" id="withdrawAddress">
                                        </div>
                                        <div class="form-group">
                                            <label for="returnAddress">{{"VehicleForm.returnAdd" | translate}}</label>
                                            <input name="returnAddress" [(ngModel)]="vehicle.returnAddress" type="text" class="form-control" id="returnAddress">
                                        </div>
                                        <div class="form-group">
                                            <label for="description">{{"VehicleForm.description" | translate}}</label>
                                            <textarea name="descriptionTextArea" [(ngModel)]="vehicle.description" class="form-control" id="description"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="telefono">{{"VehicleForm.phone" | translate}}</label>
                                            <input name="telefono" [(ngModel)]="vehicle.contactPhone" type="text" class="form-control" id="telefono">
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="rentFeeHour">{{"VehicleForm.feeH" | translate}}</label>
                                                <input name="rentFeeHourInput" [(ngModel)]="vehicle.rentFeeHour" type="text" class="form-control" id="rentFeeHour">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="rentFeeDay">{{"VehicleForm.feeD" | translate}}</label>
                                                <input name="rentFeeDayInput" [(ngModel)]="vehicle.rentFeeDay" type="text" class="form-control" id="rentFeeDay">
                                            </div>
                                        </div>
                                        <div *ngIf="this.creating()">
                                            <button type="submit" class="btn btn-default btn-round" (click)="this.createVehicle()">{{"VehicleForm.loadButton" | translate}}</button>
                                        </div>
                                        <div *ngIf="!this.creating()">
                                            <button type="submit" class="btn btn-default btn-round" (click)="this.createVehicle()">{{"VehicleForm.modButton" | translate}}</button>
                                        </div>
                                    </form>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="{{'ProfilePage.Publications' | translate}}" id="publicationsTab">
                            <ng-template ngbTabContent>
                                <h3 class="text-muted">{{"ProfilePage.PublicationText" | translate}}</h3>
                                <br>
                                <div style="width: 50%;padding-top: 50px;margin:auto">
                                    <form>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="vehicle">{{"PublicationForm.vehicleSel" | translate}}</label>
                                                <select class="form-control" id="vehicle">
                                                    <option>...</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="availability">{{"PublicationForm.availability" | translate}}</label>
                                                <div class="input-group date">
                                                    <input id="availability" class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
                                                    <span class="input-group-addon">
                                                         <span class="glyphicon glyphicon-calendar"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-default btn-round">{{"PublicationForm.pubButton" | translate}}</button>
                                    </form>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>

</div>
