<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('../assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="{{profile?.picture}}" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">{{profile?.name}}<br /></h4>
                </div>
            </div>
            <br/>
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ngb-tabset [justify]="'center'">
                        <ngb-tab title="Vehiculos">
                            <ng-template ngbTabContent>
                                <h3 class="text-muted">Aun no has cargado ningun vehiculo</h3>
                                <br>
                                <button class="btn btn-default btn-round">Cargar Vehiculo</button>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Publicaciones">
                            <ng-template ngbTabContent>
                                <h3 class="text-muted">No has realizado ninguna publicacion</h3>
                                <br>
                                <button class="btn btn-default btn-round">Crear Publicacion</button>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
