<div class="wrapper" xmlns="" xmlns="">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('../assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
    </div>
    <div class="main">
        <div class="section">
            <div class="container">
                <agm-map id="searchMap">
                    <agm-marker [latitude]="1" [longitude]="1"></agm-marker>
                </agm-map>
            </div>
        </div>
    </div>
</div>