<div class="wrapper" xmlns="" xmlns="">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('../assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
    </div>
    <div class="main">
        <div class="section">
            <div class="container">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <ngb-tabset [justify]="'center'" [activeId]="activeIdString">
                            <ngb-tab title="Map" id="mapPubs">
                                <ng-template ngbTabContent>
                                    <div class="row following" id="follows">
                                        <div class="col-md-6 ml-auto mr-auto">
                                            <button (click)="loadPublications()">Cargar publicaciones</button>
                                            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="mapZoom" id="map">
                                                <agm-marker *ngFor="let x of latLngs" [latitude]="x.lat" [longitude]="x.lng">
                                                    <agm-info-window>
                                                        <img style="width:60px;height:60px;" src="{{x.vehicle.imageUrl}}"/>
                                                        Brand: {{x.vehicle.brandModel}}
                                                        <br/>
                                                        rentFeeHour: {{x.publication.rentFeeHour}}
                                                        <br/>
                                                        rentFeeDay: {{x.publication.rentFeeDay}}
                                                        <br/>
                                                        <a [routerLink]="['/product', x.publication.publicationId]">ver</a>
                                                    </agm-info-window>
                                                </agm-marker>
                                            </agm-map>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab title="List" id="listPubs">
                            </ngb-tab>
                        </ngb-tabset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAulU6QWzQnOcPRlTM4ofpFXL1Dh65_Y4k&libraries=geometry">
</script>